staticfiles/
db.sqlite3
media/
.devcontainer/
.env
data/raw/pvdaq/system_id*
data/raw/openmeteo/
data/raw/nsrdb/
data/training/

# Git
.git
.gitignore

# Python Caches
**/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual environments
.venv/
venv/
env/

# IDE / Editor Settings
.vscode/
.idea/
.DS_Store

# Docker
Dockerfile
.dockerignore
docker-compose.yml