{% extends "dashboard/base.html" %}

{% block title %}All System Forecast{% endblock %}

{% block content %}
<div id="all-systems-container", class="forecast-container"></div>
<div id="all-forecast-weather" class="forecast-container"></div>
<div id="all-forecast-features" class="forecast-container"></div>
<div id="all-forecast-prediction" class="forecast-container"></div>
<h2>Pvdaq metadata and calculated system constants</h2>
{{metadata|safe}}
{% comment %}<h2>Evaluation results on each photovoltaic system</h2>
{{evaluations|safe}}{% endcomment %}
{% endblock %}