<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'dashboard/dashboard.css' %}">
</head>
<body>
    <div class="sidebar">
    <h1>PV Dashboard</h1>
    <br>
        <a href="{% url 'dashboard_individual_systems' %}" class="{% if active_page == 'individual_systems' %}active{% endif %}">Individual System Forecast</a>
        <a href="{% url 'dashboard_all_systems' %}" class="{% if active_page == 'all_systems' %}active{% endif %}">All System Forecast</a>
        <a href="{% url 'dashboard_feature_database' %}" class="{% if active_page == 'feature_database' %}active{% endif %}">Feature Database</a>
    </div>
    <div class="content">
        <h1>{% block title %}{% endblock %}</h1>
        {% block content %}
        {% endblock %}
    </div>

    <script src="{% static 'dashboard/dashboard_api.js' %}"></script>

</body>
</html>
