{% extends "dashboard/base.html" %}

{% block title %}Individual System Forecast{% endblock %}

{% block content %}
    <div id="status-container" class="forecast-container"></div>
    {% for id in ids %}
        <div class="system-block">
            <h2>System {{ id }}</h2>
            <br>
            <div id="system-metadata-{{ id }}" class="forecast-container"></div>
            <div id="forecast-weather-{{ id }}" class="forecast-container"></div>
            <div id="forecast-features-{{ id }}" class="forecast-container"></div>
            <div id="forecast-prediction-{{ id }}" class="forecast-container"></div>
        </div>
    {% endfor %}
{% endblock %}